<section class="side-nav-wrapper" *ngIf="isExpanded">
  <header class="user-info">
    <img class="user-image" src="assets/logos/user_image.png" />
    <h3>Jack Borrow</h3>
    <button mat-mini-fab (click)="closeSideNav()" class="expand-btn">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </header>

  <mat-divider></mat-divider>

  <ul class="menu">
    <li *ngFor="let item of menu; let i = index">
      <button mat-fab extended [class.active-item]="activeMenuItem === i" (click)="setActiveMenuItem(i)">
        {{ item.text }}
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    </li>
  </ul>

  <footer>
    <mat-divider></mat-divider>
    <button mat-fab extended>Помощь <mat-icon>help_outline</mat-icon></button>
    <button (click)="logout()" mat-fab extended>
      Выйти
      <mat-icon>logout</mat-icon>
    </button>
  </footer>
</section>
