:host {
  display: flex;
  box-sizing: border-box;
  //width: 20%;
  background: var(--color3);

  @media (max-width: 1000px) {
    position: absolute;
    height: 100%;

    .side-nav-wrapper {
      z-index: 1;
      padding: 10px 30px 30px;
    }

    .expand-btn {
      visibility: visible;
    }
  }
}

.side-nav-wrapper {
  min-width: 250px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 30px;
  background: var(--color0);
  box-shadow: -1px 0px 6px -1px var(--color19);
  gap: 40px;
  //animation-name: appearance;
  //animation-duration: 0.5s;
  box-sizing: border-box;
}

//@keyframes appearance {
//  from {
//    width: 0;
//    opacity: 0;
//  }
//  to {
//    width: 100%;
//    opacity: 1;
//  }
//}

header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.expand-btn {
  visibility: hidden;
}

.user-info {
  button {
    background: var(--color0);
  }

  h3 {
    margin: 0;
  }
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer {
  gap: 15px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.menu,
footer {
  button {
    background: var(--white);
    border-radius: 10px;
    width: 100%;
    justify-content: start;
    color: var(--color10);

    &.active-item {
      background: var(--color3);
    }
  }
}
