:root {
  --color0: #fff;
  --color1: #edf3ff;
  --color2: #e4ecfd;
  --color3: #d7def7;
  --color4: #c1c9e8;
  --color5: #abb4d8;
  --color6: #b9bcea;
  --color7: #969fc9;
  --color8: #808bbb;
  --color9: #7377a9;
  --color10: #8c92c1;
  --color11: #6b74ae;
  --color12: #4d527a;
  --color13: #757dcf;
  --color14: #6068b7;
  --color15: #4b5692;
  --color16: #36406c;
  --color17: #3f4268;
  --color18: #29304d;
  --color19: #191b2a;
}
