$color0_light: #fff;
$color1_light: #edf3ff;
$color2_light: #e4ecfd;
$color3_light: #d7def7;
$color4_light: #c1c9e8;
$color5_light: #abb4d8;
$color6_light: #b9bcea;
$color7_light: #969fc9;
$color8_light: #808bbb;
$color9_light: #7377a9;
$color10_light: #8c92c1;
$color11_light: #6b74ae;
$color12_light: #4d527a;
$color13_light: #757dcf;
$color14_light: #6068b7;
$color15_light: #4b5692;
$color16_light: #36406c;
$color17_light: #3f4268;
$color18_light: #29304d;
$color19_light: #191b2a;

$color0_dark: #39425d;
$color1_dark: #3a445f;
$color2_dark: #3c4762;
$color3_dark: #3d4964;
$color4_dark: #3f4b67;
$color5_dark: #404e69;
$color6_dark: #42516b;
$color7_dark: #44536e;
$color8_dark: #455570;
$color9_dark: #475773;
$color10_dark: #485975;
$color11_dark: #4a5c78;
$color12_dark: #4b5e7a;
$color13_dark: #4d608d;
$color14_dark: #4e6270;
$color15_dark: #506474;
$color16_dark: #516676;
$color17_dark: #536979;
$color18_dark: #546b7b;
$color19_dark: #141414;

@mixin lighten() {
  --color0: #{$color0_light};
  --color1: #{$color1_light};
  --color2: #{$color2_light};
  --color3: #{$color3_light};
  --color4: #{$color4_light};
  --color5: #{$color5_light};
  --color6: #{$color6_light};
  --color7: #{$color7_light};
  --color8: #{$color8_light};
  --color9: #{$color9_light};
  --color10: #{$color10_light};
  --color11: #{$color11_light};
  --color12: #{$color12_light};
  --color13: #{$color13_light};
  --color14: #{$color14_light};
  --color15: #{$color15_light};
  --color16: #{$color16_light};
  --color17: #{$color17_light};
  --color18: #{$color18_light};
  --color19: #{$color19_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --color0: #{$color19_light};
  --color1: #{$color18_light};
  --color2: #{$color17_light};
  --color3: #{$color16_light};
  --color4: #{$color15_light};
  --color5: #{$color14_light};
  --color6: #{$color13_light};
  --color7: #{$color12_light};
  --color8: #{$color11_light};
  --color9: #{$color10_light};
  --color10: #{$color9_light};
  --color11: #{$color8_light};
  --color12: #{$color7_light};
  --color13: #{$color6_light};
  --color14: #{$color5_light};
  --color15: #{$color4_light};
  --color16: #{$color3_light};
  --color17: #{$color2_light};
  --color18: #{$color1_light};
  --color19: #{$color0_light};
  //--color0: #{$color0_dark};
  //--color1: #{$color1_dark};
  //--color2: #{$color2_dark};
  //--color3: #{$color3_dark};
  //--color4: #{$color4_dark};
  //--color5: #{$color5_dark};
  //--color6: #{$color6_dark};
  //--color7: #{$color7_dark};
  //--color8: #{$color8_dark};
  //--color9: #{$color9_dark};
  //--color10: #{$color10_dark};
  //--color11: #{$color11_dark};
  //--color12: #{$color12_dark};
  //--color13: #{$color13_dark};
  //--color14: #{$color14_dark};
  //--color15: #{$color15_dark};
  //--color16: #{$color16_dark};
  //--color17: #{$color17_dark};
  //--color18: #{$color18_dark};
  //--color19: #{$color19_dark};
}
