<!--<mat-progress-bar mode="indeterminate" class="loader" *ngIf="isLoading"></mat-progress-bar>-->
<div class="cards-container">
  <div *ngFor="let credit of credits" class="card">
    <header class="card-header">
      <h3 class="name">{{ credit.name }}</h3>
      От {{ credit.date | date: "MM.dd.yyyy" }}
      <button
        *ngIf="
          (credit.payment_type === 'MANUAL' && isDateExpired(credit)) ||
          (credit.payment_type === 'AUTO' && credit.is_need_manual_payment)
        "
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="pay(credit.id)" mat-menu-item>
          <mat-icon>pan_tool</mat-icon>
          <span>Ручная оплата</span>
        </button>
      </mat-menu>
    </header>
    <span>Номер счета: {{credit.account_id}}</span>
    <span>Срок: {{ getDictionaryValue(terms, credit.term) }}</span>
    <span>Сумма: {{ credit.amount_given }}</span>
    <span>Долг: {{ credit.debt }}</span>
    <span>След. платеж: {{ credit.next_pay_date | date: "MM.dd.yyyy" }}</span>
    <!-- <span>Пеня: {{ credit.penya }}</span> -->
    <span>Ежемесячный платеж: {{ credit.per_month_pay_sum }}</span>
    <span>Статус: {{ getDictionaryValue(statuses, credit.status) }}</span>
    <!-- <span>Нужен ручной платеж: {{ credit.is_notification_enabled }}</span> -->
    <span>Почта для уведомлений: {{ credit.email_for_notification || getEmail() }}</span>
  </div>
</div>
<button mat-raised-button class="add-deposit" (click)="addCredit()">Добавить кредит</button>
