<div class="review-card">
  <div class="review-body">
    <img class="home-screen-logo" src="../../../assets/logos/home_screen_logo.png" />
    <ul>
      <li>
        Добро пожаловать в наше банковское приложение — ваш компаньон по управлению финансами! Мы создали это
        приложение, чтобы обеспечить вас легким доступом к финансовым инструментам в любое время и в любом месте.
      </li>
      <li>
        У нас вы найдете удобный доступ ко всем своим счетам — мгновенный обзор баланса, истории транзакций и деталей
        счетов. Отправляйте переводы и оплачивайте счета всего в несколько кликов. Управляйте своими картами:
        блокируйте, разблокируйте, устанавливайте лимиты и отслеживайте траты — все в одном приложении.
      </li>
      <li>
        Безопасность важна для нас. Мы используем передовые технологии, чтобы защитить ваши финансы. Двухфакторная
        аутентификация и мгновенные уведомления обо всех операциях обеспечивают ваш покой.
      </li>
      <li>
        Бюджетирование и отчетность — ваши инструменты для эффективного управления финансами. Мы предоставляем аналитику
        для более глубокого понимания ваших расходов.
      </li>
    </ul>
  </div>
  <div class="certs">
    <h3>Trusted by</h3>
    <div class="logos">
      <img class="logo" src="../../../assets/logos/visa_logo.png" />
      <img class="logo" src="../../../assets/logos/mastercard_logo.png" />
      <img class="logo big" src="../../../assets/logos/bnb_logo.png" />
    </div>
  </div>
</div>
